global !p
from sniptex import *
endglobal

context "math()"
snippet inf "infinity" iA
\\infty
endsnippet

context "math()"
snippet 'cmplx' "complex plane" i
\\mathbb{C}
endsnippet

context "math()"
snippet 'reals' "reals" i
\\mathbb{R}
endsnippet

context "math()"
snippet 'rationals' "rationals" i
\\mathbb{Q}
endsnippet

context "math()"
snippet 'ints' "integers" i
\\mathbb{Z}
endsnippet

context "math()"
snippet 'nats' "naturals" i
\\mathbb{N}
endsnippet
